<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title|capfirst}}</title>
</head>
<body>
    <h2>{{title|capfirst}}</h2>
    <h3>{{title|cut:" "|cut:"е"}}</h3>
    <h3>{{main_title|default:"Без заголовка"}}</h3>
    <p>{{menu}}</p>
    <p>{{float|add:"50"}}</p>
    <p>{{int|divisibleby:"4"}}</p>
    <p>{{menu|first}}</p>
    <p>{{menu|last}}</p>
    <p>{{menu|join:' | '}}</p>
    <p>{{menu|length}}</p>
    <h2>{{"Asd qwe rty"|slugify}}</h2>
    <h3>{{url}}</h3>

    <form action=""method="post"enctype="multipart/form-data">
        {% csrf_token %}
        <!--<p><input type="file"name='file_upload'></p>-->
        {{form.as_p}}
        <p><button type="submit">Отправить</button></p>
    </form>


    <hr>
    <h2>Paginator</h2>
    {% for item in page_obj %}
        <p>{{ item.pk }}: {{item.title}}</p>
    {% endfor %}

    <nav>
        <ul>
            {% for p in page_obj.paginator.page_range %}
            <li>
                <a href="?page={{p}}">{{p}}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>

</body>
</html>

