* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 100px;
    background-color: rgb(241, 241, 208);
}
.sidebar {
    width: 100%;
    height: 800px;
    background-color: lightblue;
}
.footer {
    width: 100%;
    height: 100px;
    background-color: rgb(241, 241, 208);
}